.grid {
  margin: 0;
  padding: 0;
  letter-spacing: -.31em;
  text-rendering: optimizeSpeed;
  display: flex;
  flex-flow: row wrap;
}

.grid-bottom {
  align-items: flex-end;
}

.grid-middle {
  align-items: center;
}

.grid-stretch {
  align-items: stretch;
}

.unit {
  letter-spacing: normal;
  text-rendering: auto;
  vertical-align: top;
  word-spacing: normal;
  display: inline-block;
  visibility: visible;
}

.grid-bottom .unit {
  vertical-align: bottom;
}

.grid-middle .unit {
  vertical-align: middle;
}

[class*="unit-push-"],
[class*="unit-pull-"] {
  position: relative;
}

.unit-content-center,
.unit-content-center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: column wrap;
}

.unit-content-center-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
}

.unit-xs-hidden,
.xs-0 {
  display: none;
  visibility: hidden;
}

.unit-xs-centered {
  margin: 0 auto;
}

.unit-xs-1,
.xs-1 {
  display: block;
  visibility: visible;
  width: 100%;
}

.unit-xs-1-2,
.xs-1-2 {
  width: 50%;
}

.unit-xs-1-3,
.xs-1-3 {
  width: 33.3333%;
}

.unit-xs-2-3,
.xs-2-3 {
  width: 66.6667%;
}

.unit-xs-1-2,
.xs-1-2,
.unit-xs-1-3,
.xs-1-3,
.unit-xs-2-3,
.xs-2-3 {
  display: inline-block;
  visibility: visible;
}

.unit-xs-1-2[class*="-content-"],
.xs-1-2[class*="-content-"],
.unit-xs-1-3[class*="-content-"],
.xs-1-3[class*="-content-"],
.unit-xs-2-3[class*="-content-"],
.xs-2-3[class*="-content-"] {
  display: flex;
}

.unit-xs-content-distribute,
.xs-content-distribute {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.unit-xs-content-center,
.unit-xs-content-center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: column wrap;
}

.unit-xs-content-center-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
}

.xs-content-fill,
.xs-content-stretch {
  flex-grow: 2;
  max-width: 100%;
}

.xs-content-shrink {
  align-self: center;
}

@media only screen and (min-width: 38em) {

  .unit-m-hidden,
  .m-0 {
    display: none;
    visibility: hidden;
  }

  .unit-m-centered {
    margin: 0 auto;
  }

  .unit-m-1,
  .m-1 {
    display: block;
    visibility: visible;
    width: 100%;
  }

  .unit-m-1-2,
  .m-1-2 {
    width: 50%;
  }

  .unit-m-1-3,
  .m-1-3 {
    width: 33.3333%;
  }

  .unit-m-2-3,
  .m-2-3 {
    width: 66.6667%;
  }

  .unit-m-1-2,
  .m-1-2,
  .unit-m-1-3,
  .m-1-3,
  .unit-m-2-3,
  .m-2-3 {
    display: inline-block;
    visibility: visible;
  }

  .unit-m-1-2[class*="-content-"],
  .m-1-2[class*="-content-"],
  .unit-m-1-3[class*="-content-"],
  .m-1-3[class*="-content-"],
  .unit-m-2-3[class*="-content-"],
  .m-2-3[class*="-content-"] {
    display: flex;
  }

  .unit-m-content-distribute,
  .m-content-distribute {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .unit-m-content-center,
  .unit-m-content-center-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: column wrap;
  }

  .unit-m-content-center-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
  }

  .m-content-fill,
  .m-content-stretch {
    flex-grow: 2;
    max-width: 100%;
  }

  .m-content-shrink {
    align-self: center;
  }

}
